header {
    width: 100vw;
    box-sizing: border-box;
    border-bottom: 2px solid black;
    padding: 15px;
    text-indent: 15px;
    background-color: #FF5A33;
}

img {
    height: 250px;
    width: 250px;
}

figure {
    margin-left: 0px;
}

main {
    margin-left: 25px;
}

footer {
    margin-top: 40px;
    background-color: #B4CF66;
    padding: 15px;
    text-indent: 15px;
}

main>h1 {
    color: #146152;
}

ol {
    margin-left: 15px;
}

nav a {
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    color: white;
}

.recipe-name {
    text-decoration: none;
    color: #44803F;
}

.container {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: auto auto;
}

.the-table>:nth-child(even) {
    background-color: lightgrey;
}
